/* Commons */

body {
    background: #e9e3e3;

}


.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}


p {
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

ul {
    font-weight: 500;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
}


.spacer {
    flex: 1
}



.red1 {
    color: #d14e14;
}

.red2 {
    color: #7c0707
}

.red3 {
    color: #af4e23;
}

.blue1 {
    color: #223289
}

.blue2 {
    color: #0c568d;
}

.blue3 {
    color: #023960;
}

.blue4 {
    color: #516ad3;
}

.blue5 {
    color: #6c8ac4;
}

.grey1 {
    color: #7c86a3;
    font-size: 0.9em;
}

.grey2 {
    color: #4c5879 !important;
}


a {
    color: #3059c4;
    text-decoration: underline;
}

.thanks {
    font-size: 1.7em;
    line-height: 1.3;
    margin: 0.5em 0;
    padding: 14px 22px;
    opacity: 0;
}

.thanks.visible {
    transition: 1s all ease-in-out;
    opacity: 1;
}

.submit-btn {
    font-size: 1.7em;
    margin: 0.5em 0;
    border: none;
    background-color: inherit;
    padding: 14px 22px;
    cursor: pointer;
    display: inline-block;
}

.underline {
    line-height: 1.3;
    text-decoration: none !important;
    position: relative;
    display: inline-block;
}

.underline:before {
    content: ' ';
    border-bottom: 1px solid currentColor;
    top: 1.5em;
    display: block;
    position: absolute;
    z-index: 20;
    left: 0;
    width: 100%;
}



.checkbox {
    display: flex;
    align-items: flex-start;
}

.checkbox label {
    margin-left: 8px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.2);
    /* IE */
    -moz-transform: scale(1.2);
    /* FF */
    -webkit-transform: scale(1.2);
    /* Safari and Chrome */
    -o-transform: scale(1.2);
    /* Opera */
    transform: scale(1.2);
    padding: 10px;
}

/* App */
.app {
    max-width: 1200px;
    margin: 0 24px 24px 24px;

}

header {
    display: flex;
    justify-content: center;
}

header .menu {
    margin-top: 1.1em;
    width: 33%;
    position: relative;
}

.menu__bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.menu__bar__title {
    display: flex;
    align-items: center;
}

.menu__bar2 {
    /* position: absolute;
    top: 20px;
    left: 0; */
}

.menu__bar2.hide {
    display: none;
}

.menu__bar__title2 {
    margin-top: 5px;
    text-decoration: none !important;
}

.flex {
    display: flex;
    align-items: center;
}

.menu__bar__title,
.form__apropos__title {
    line-height: 1.4;
    font-size: 1.3em;
    font-weight: 600;
}

.menu__bar__title:hover,
.form__apropos__title:hover {
    cursor: pointer;
}


.space-right {
    margin-right: 10px;
    width: 84px;
}

svg {
    fill: currentColor;
}


.chevron {
    width: 12px;
    margin-top: 3px;
    transition: all 0.175s ease-in-out;
}

.chevron.turn {
    transform: scale(-1);
}


.menu__flags {
    display: flex;
    margin: 4em -0.75em;
}


.menu__flags.hide {
    display: none;
}


.menu__flag {
    display: flex;
}

img.menu__flag {
    height: 16px;
    margin: 0 0.75em;
}


.menu__text {
    display: none;
    width: 232px;
    position: absolute;
    line-height: 1.4;
    opacity: 0;
    max-height: 120px;
    margin-top: 1.3em;
}

.menu__text.visible {
    opacity: 1;
    display: block;
    max-height: none;
}

.title {
    display: flex;
    color: #516ad3;
    flex-direction: column;
}

.title__main {
    font-size: 3.8em;
    margin-left: 40px;
    text-decoration: none !important;
    color: #516ad3 !important;
}

.title__sub {
    font-size: 2.3em;
    line-height: 1.3;
    margin-top: -0.1em;
    margin-left: 40px;
}

.title__descr {
    margin-top: 1.6em;
    font-size: 1.1em;
    color: #516ad3;
    margin-left: 10px;
}


.main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2.4em 0;
}



.columns {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}


.columns>div {
    min-width: 200px;
    flex: 1;
    margin: 0px 18px;
}


.form.readonly #sign-form {
    opacity: 0.5;
}

.form.readonly .form__intro {
    opacity: 0.5;
}



.form {
    display: flex;
    width: 232px;
    margin-right: 3em;
    flex-direction: column;
    color: #516ad3;
}

.form.hide {
    opacity: 0;
}

.form__header {
    color: #516ad3 !important;
    font-size: 1.7em;
    margin-bottom: 1em;
    line-height: 1.3;
    text-decoration: none !important;
    cursor: pointer;
}


.form__intro {
    margin-top: 1em;
    font-size: 0.9em;
    line-height: 1.4;
    margin-bottom: 3em;
}


.form-group {
    display: flex;
}

.form-group__field {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 1em;
    margin-bottom: 2.5em;
    flex: 1;
}

.form-group__field label {
    transition: all 0.1s ease-in-out;
    position: absolute;
    top: -5px;
    margin-bottom: 0;
    opacity: 1;
}

.form-group__field input {
    background: #e9e3e3;
    border-color: #516ad3;
    color: #516ad3;
    outline: 0;
    border-width: 0 0 1px;
    width: 100%;
    padding-bottom: 4px;
}

select {
    border-radius: 0px;
    border: none;
    position: relative;
    color: #516ad3;
    font-size: 0.95em;
    background: #e9e3e3;
    outline: 0;
    border-bottom: 1px solid #516ad3;
    width: 100%;
    appearance: none;
    padding-bottom: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg class='chevron chevron1' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256' style='fill:%23516ad3;enable-background:new 0 0 256 256;' xml:space='preserve'><g><polygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' /></g></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 4px;
    background-size: 14px;
}

select.activity {
    background-image: none !important;
}




.form-group__field input:not([readonly]):focus~label,
.form-group__field input.filled~label {
    top: -15px;
    font-size: 0.8em;
    /* opacity: 0; */
}

.form-group__field select {
    padding-top: 2px;
}

.form-group__field select:focus~label,
.form-group__field select.filled~label {
    top: -15px;
    font-size: 0.8em;
    /* opacity: 0; */
}

/* 
.form-group__field input::placeholder {
    color: #7c86a3;
    width: 100%;
    outline: 0;
    border-width: 0 0 1px;
} */

.form__apropos__title {
    margin-top: 2.5em;
}

.form__apropos {
    max-width: 232px;
    margin-top: 1em;
    /* transition: opacity 0.175s ease-in-out; */
    opacity: 0;
    display: none;
    padding-bottom: 3em;
}

.form__apropos.visible {
    opacity: 1;
    display: block;
}


.data {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.data .mailto {
    margin-top: 2em;
}

.cols {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -18px;
    margin-bottom: 2em;

}

.col {
    flex: 1;
    margin-top: 2em !important;
    min-width: 200px;
    flex: 1;
    margin: 0px 18px;
}

.col select {
    font-weight: 600;
    color: #223289;
    border-bottom: 1px solid #223289;
    background-image: url("data:image/svg+xml;utf8,<svg class='chevron chevron1' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256' style='fill:%23223289;enable-background:new 0 0 256 256;' xml:space='preserve'><g><polygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' /></g></svg>");
}

.rows {
    margin-left: 4px;
    margin-top: 2em;
}


.row {
    display: inline;
    /* height: 1.5em; */
}


.person {
    margin-bottom: 4px;
    /* display: flex; */
}



.contact {
    display: inline-block;
    margin-bottom: 0.25em;
}

.mailto {
    text-decoration: none !important;
    align-self: flex-end;
}


.image {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.image img {
    margin-bottom: 2em;
    max-width: 1000px;
    width: 100%;
}

.container-apropos .form__apropos__title {
    margin-top: 2em;
}

.columns-md {
    display: none;
}


.menu-xs {
    display: none;
}


.app>.form__apropos__title,
.app>.form__apropos {
    display: none;
}

/* .app .flex {
    display: none;
} */


.app .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.app .flex .form__apropos__title {
    margin-top: 0;
}

.app .flex>* {
    align-self: flex-start;
    margin-top: 1em;
}

.app-propos .flex .form__apropos__title {
    display: block;
}

.app-propos .flex .form__apropos.visible {
    display: block;
}


@media screen and (max-width: 1032px) {

    .columns {
        display: none;
    }

    .columns-md {
        display: flex;
        flex: 1;
    }

    .columns-md>div {
        min-width: 200px;
        flex: 1;
        margin: 0px 18px;
    }

}

@media screen and (max-width: 800px) {
    .columns-md {
        flex-direction: column;
        /* max-width: 80vw; */
    }

    .menu__text {
        margin-top: 16em;
    }

    .columns-md div:last-child {
        margin-top: 1.5em;
    }

    .title__main {
        font-size: 3.4em;
    }

    .title__sub {
        font-size: 2.0em;
    }

    .title__descr {
        font-size: 1.1em;
    }

    .container-apropos {
        flex-direction: column;
        margin-bottom: 0;
    }

    .container-apropos .mailto {
        display: none;
    }




    .app-propos .form {
        margin-bottom: 2em;
    }

    .app-propos .form p {
        max-width: 232px;
    }

    .app-propos .form .form__apropos__title {
        display: none;
    }

    .app-propos .form .form__apropos.visible {
        display: none;
    }

}



@media screen and (max-width: 600px) {

    .app>.form__apropos__title {
        display: block;
    }

    .app>.form__apropos.visible {
        display: block;
    }




    .form .form__apropos__title,
    .form .form__apropos {
        display: none;
    }

    .form.hide {
        display: block !important;
        opacity: 1;
    }

    .menu-xs .menu__flags.hide {
        display: flex !important;
    }

    .menu__text {
        margin-top: 1em;
        position: relative;
        max-width: 232px;
    }


    .columns-md {
        margin-top: 4em;
    }

    .columns-md>div {
        margin-left: 0;
    }

    .title {

        margin-top: 1.5em;
    }


    .title__sub,
    .title__main {
        margin-left: 20px
    }

    header {
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .menu-xs {
        display: flex;
        flex-direction: column;
    }

    .menu-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu__bar__title2 {
        margin-top: 0;
    }


    .menu-list>*:first-child {
        margin-right: 18px;
    }

    .menu__flags {
        margin: 2em -0.75em;
    }


    .main-container {
        flex-direction: column;
    }

    .form {
        width: 100%;
        margin-right: 0;
    }


    .form__apropos {
        max-width: 232px;
    }

    #nb-signataires {
        margin: 0 0.3em;
    }


    .form__header {
        display: flex;
        align-items: center;
    }

    .form__header br {
        display: none;
    }



}